apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "dex-server.fullname" . }}-http
  labels:
    {{- include "dex-server.labels" . | nindent 4 }}
  annotations:
    konghq.com/strip-path: "false"
    konghq.com/preserve-host: "true"
    konghq.com/plugins: dex-cors
    {{- if .Values.global.ingress.annotations }}
    {{- toYaml .Values.global.ingress.annotations | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.global.ingress.ingressClassName }}
  {{- with .Values.global.ingress.tls }}
  tls:
  - hosts:
      {{- toYaml .hosts | nindent 6 }}
    {{- if .secretName }}
    secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  - {{- if .Values.global.ingress.host }}
    host: {{ .Values.global.ingress.host }}
    {{- end }}
    http:
      paths:
      - path: /v1/dex
        pathType: Prefix
        backend:
          service:
            name: {{ include "dex-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
