apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: dex-cors
  namespace: {{ .Release.Namespace }}
plugin: cors
config:
  origins:
  - "http://localhost:8081"
  - "http://localhost:8000"
  methods:
  - GET
  - POST
  - OPTIONS
  headers:
  - Accept
  - Authorization
  - Content-Type
  exposed_headers:
  - X-Auth-Token
  credentials: true
  max_age: 3600
